@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #d2370c;

}

.ant-input-group-addon:hover, .ant-input-group-addon:focus {
    background: #f7462f !important;;
}
.ant-input {
    padding: 8px 14px;
    position: relative;
}
.ant-input-search-button {
    background:#f7462f;
    position: absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #f7462f ;
}
.ant-tabs .ant-tabs-ink-bar {
    background: #f7462f;
}